.checkbox-input
	font-weight bold
	font-size 21px
	line-height 25px
	padding-left 29px
	position relative
	&__field
		display none
		&:checked + .checkbox-input__indicator:before
			content ""
			position absolute
			top 0
			left -2px
			sprite $checkbox_icon_full
	&__indicator
		position absolute
		top 6px
		left 0
		sprite $checkbox_icon

