.form
		&__title
				color brown-text
				font-size 24px
				line-height 45px
				&--js
						margin-bottom 32px
		&__text
				color gray-text
				margin-bottom 26px
				&--plans
					margin-bottom 13px
		&__text-inputs
				padding-top 39px
				margin-bottom 45px
		&__checkboxes
				margin-bottom 50px
		&__checkbox-list-wrap
				display flex
				flex-direction row
				justify-content space-between
		&__checkbox-list
				li
						margin-bottom 9px
						&:last-child
								margin-bottom 0
		&__javascript-slider
				margin-bottom 60px
		&__about
			margin-bottom 40px
		&__plans
			margin-bottom 72px
