.textarea
	background transparent url(../images/textarea-border.png) repeat 0px 22px
	color input-text
	font-size 30px
	line-height 60px
	width 100%
	min-height 175px

@media (max-width mobile)
	.textarea
		font-size 20px
