.text-input
	display flex
	align-items flex-start
	&__label
		font-size 23px
		line-height 49px
		font-weight bold
		color brown-text
		margin-right 13px
		padding-top 14px
	&__field
		padding 10px
		padding-left 15px
		flex-grow 1
		background url('../images/input-text-border.png') repeat-x -7px 46px
