body
	font-family "PT Sans", sans-serif
	font-size 15px
	line-height 23px
	min-width 320px
	margin 0 auto
	padding 0
	background-color #797979

.container
	max-width 770px
	margin 0 auto
	padding 0

img
	font-size 0
	border none
	outline none
	max-width 100%
	height auto
	vertical-align top

input, textarea
	font-family "Courier New", sans-serif
	outline none
	padding 0
	border none
	font-weight normal
	font-size 30px
	background-color transparent

label
	&::selection
		background-color transparent
	cursor pointer
