extends /blocks/layout-default/layout-default

block head
		- var pageTitle = 'CSSSR Project Template';
	
block content
	header.main-header
		.secret-mark
		.container
			a.logo(href="")
				img(src="", alt="")
			h1.main-title
	main.content
		.form
			.form__text-inputs
				.text-input
					label.text-input__label(for="")
					input.text-input__field(type="text")
				.text-input
					label.text-input__label(for="")
					input.text-input__field(type="text")
				.text-input
					label.text-input__label(for="")
					input.text-input__field(type="text")
				.text-input
					label.text-input__label(for="")
					input.text-input__field(type="text")
				.text-input
					label.text-input__label(for="")
					input.text-input__field(type="text")
			.form__checkboxes
				h2.form__title
				p.form__text
				label.checkbox-input(for="")
					input.checkbox-input__field(type="checkbox")
					span.checkbox-input__indicator
				label.checkbox-input(for="")
					input.checkbox-input__field(type="checkbox")
					span.checkbox-input__indicator
				label.checkbox-input(for="")
					input.checkbox-input__field(type="checkbox")
					span.checkbox-input__indicator
				label.checkbox-input(for="")
					input.checkbox-input__field(type="checkbox") 
					span.checkbox-input__indicator
				label.checkbox-input(for="")
					input.checkbox-input__field(type="checkbox")
					span.checkbox-input__indicator
				label.checkbox-input(for="")
					input.checkbox-input__field(type="checkbox")
					span.checkbox-input__indicator
				label.checkbox-input(for="")
					input.checkbox-input__field(type="checkbox")
					span.checkbox-input__indicator
				label.checkbox-input(for="")
					input.checkbox-input__field(type="checkbox")
					span.checkbox-input__indicator
				label.checkbox-input(for="")
					input.checkbox-input__field(type="checkbox")
					span.checkbox-input__indicator
				label.checkbox-input(for="")
					input.checkbox-input__field(type="checkbox")
					span.checkbox-input__indicator
				label.checkbox-input(for="")
					input.checkbox-input__field(type="checkbox")
					span.checkbox-input__indicator
				label.checkbox-input(for="")
					input.checkbox-input__field(type="checkbox")
					span.checkbox-input__indicator
				label.checkbox-input(for="")
					input.checkbox-input__field(type="checkbox")
					span.checkbox-input__indicator
				label.checkbox-input(for="")
					input.checkbox-input__field(type="checkbox")
					span.checkbox-input__indicator
				label.checkbox-input(for="")
					input.checkbox-input__field(type="checkbox")
					span.checkbox-input__indicator
				label.checkbox-input(for="")
					input.checkbox-input__field(type="checkbox")
					span.checkbox-input__indicator
				label.checkbox-input(for="")
					input.checkbox-input__field(type="checkbox")
					span.checkbox-input__indicator
				label.checkbox-input(for="")
					input.checkbox-input__field(type="checkbox")
					span.checkbox-input__indicator
				label.checkbox-input(for="")
					input.checkbox-input__field(type="checkbox")
					span.checkbox-input__indicator 
			.form__javascript-slider
				h2.form__title
				.range-slider
			.form__about
				h2.form__title
				p.form__text 
				textarea(name="", cols="30", rows="10")
			.form__plans
				h2.form__title
				p.form__text
				label.radio-input(for="")
					input.radio-input__field(type="radio")
					span.radio-input__indicator
				label.radio-input(for="")
					input.radio-input__field(type="radio")
					span.radio-input__indicator
				label.radio-input(for="")
					input.radio-input__field(type="radio")
					span.radio-input__indicator
				label.radio-input(for="")
					input.radio-input__field(type="radio")
					span.radio-input__indicator
			.form__date
				.text-input
					label.text-input__label(for="")
					input.text-input__field(type="text")

				
			
